node_modules
.idea
*.iml
coverage
secret.key
aem_config.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode
.nvmrc
aem-assets/*

